<div class="row">
 <div class="breadcum_inner main">
   <h3> Capitalizarme.com </h3>
 </div>
</div>

<div class="row home text-center">

  <h1 class="header-home">TODOS LOS DATOS DE  TUS CLIENTES</h1>
  <h3 class="subheader-home">en un sólo lugar</h3>

</div>